<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title> {%if page.title%} {{page.title}} · {%endif%} Diana Velarde's Graphic Design Portfolio {% if page.titleAfter%} · {{page.tittleAfter}}  {% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="{{page.meta}}">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
</head>
<body>
    
    <ul class="skip-links">
        <li><a href="#nav">Skip to the navigation</a> </li>
        <li><a href="#main">Skip to the Main</a> </li>
        <li><a href="#footer">Skip to the Footer</a> </li>
    
    </ul>
    
    <header role="banner" class="nav-bar" id="top">
        <a href="#nav" class="nav-btn"></a>
{% include navtop.html %}
    </header>
   <main role="main" id="main">
    {{content}}
    </main>
    
    <footer class="grid micro pad" role="contentinfo" id="footer">
        <nav class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 nav-bottom">
		<ul class="nav-bottom pad-top-half">
            <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}focus{% endif %}">HOME</a></li>
      		<li><a href="{{site.baseurl}}/about/" class="{% if page.url == '/about/' %}focus{% endif %}">WHO AM I</a></li>
      		<li><a href="{{site.baseurl}}/contact/" class="{% if page.url == '/contact/' %}focus{% endif %}">CONTACT ME</a></li>
      		<li><a href="{{site.baseurl}}/extras/" class="{% if page.url == '/extras/' %}focus{% endif %}">EXTRAS</a></li>
        </ul>
	</nav>
	<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		<p class="copyright unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"> Copyright © 2015 Dianavelarde <a href="#top"> Top </a> </p>
	</div>
        </footer>

</body>
</html>