<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title> {%if page.tittle%} {{page.tittle}} . {%endif%}Diana Velarde's Graphic Design Portfolio </title>
    <meta name="viewport" content="width=device-width,initial-scale=1 Diana Velarde, a Graphic Designer from Ottawa, Canada">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
</head>
<body>
    
    <header role="navigation" class="nav-bar">
        <a href="#nav" class="nav-btn"></a>
{% include navtop.html %}
    </header>
    
    {{content}}
    
    <footer class="grid micro pad">
        <nav class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 nav-bottom">
		<ul class="nav-bottom pad-top-half">
            <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}focus{% endif %}">HOME</a></li>
      		<li><a href="{{site.baseurl}}/about/" class="{% if page.url == '/about/' %}focus{% endif %}">WHO AM I</a></li>
      		<li><a href="{{site.baseurl}}/contact/" class="{% if page.url == '/contact/' %}focus{% endif %}">CONTACT ME</a></li>
      		<li><a href="{{site.baseurl}}/extras/" class="{% if page.url == '/extras/' %}focus{% endif %}">EXTRAS</a></li>
        </ul>
	</nav>
	<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		<p class="copyright unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1"> Copyright © 2015 Dianavelarde </p>
	</div>
        </footer>

</body>
</html>