---
layout: default
---
{{content }}


    <div class="grid">
        
    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4">
      <figure class="push-0">
          <a href="" aria-label="Seen the process and making Project 1">
        <img class="img" src="{{site.baseurl}}/images/bookcover.jpg" alt="Book Cover"></a>
        </figure>
        </div>
        
    <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
        <figure class="push-0">
        <a href="" aria-label="Seen the process and making Project 2">
            <img class="img" src="{{site.baseurl}}/images/fastflight.jpg" alt="portafolio piece 2"></a>
        </figure>
        </div>
        
   <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
      <figure class="push-0">
          <a href=""aria-label="Seen the process and making Project 3">
              <img class="img" src="https://placehold.it/360x400/6e7175/ffffff" alt="portafolio piece 3"> </a>
        </figure>
        </div>

    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
      <figure class="push-0">
              <a href="" aria-label="Seen the process and making Project 4">
                  <img class="img" src="https://placehold.it/360x400/ccd1d4/ffffff" alt="portafolio piece 4"></a>
        </figure>
        </div>
    </div>