---
layout: default
---
{{content }}


    <div class="grid">
        
    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4">
        <ul class="photo-grid">
	<li>
        <a href="{{site.baseurl}}/book/" aria-label="Seen the process and making Book Cover Redesign">
      <figure class="push-0">
          <img class="img" src="{{site.baseurl}}/images/bookcover.jpg" alt="Book Cover"> <figcaption class="gutter pad-top"><h3>Street Pharm</h3>—<br >Typography/Redesign<br /></figcaption>
          </a>
        </figure>
        </li>
        </ul>
        </div>
        
    <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
            <ul class="photo-grid">
	<li>
        <a href="{{site.baseurl}}/melgar/" aria-label="Seen the process and making Melgar 100 Years"> 
            <figure class="push-0">
            <img class="img" src="{{site.baseurl}}/images/notebook.jpg" alt="Melgar 100 Years"><figcaption class="gutter pad-top"><h3>Melgar 100 Years</h3>—<br >Illustration/Identity<br /></figcaption>
        </a>
        </figure>
            </li>
        </ul>
        </div>
        
   <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
         <ul class="photo-grid">
             <li>
          <a href="{{site.baseurl}}/ar/"aria-label="Seen the process and making of Cirque du Soleil annual report">
              <figure class="push-0">
                  <img class="img" src="{{site.baseurl}}/images/cds.jpg"  alt="Cirque Du Soleil"> <figcaption class="gutter pad-top"><h3>Cirque Du Soleil</h3>—<br >Annual Report/Typography<br /></figcaption>
        </a>
        </figure>
          </li>
        </ul>
        </div>

    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
          <ul class="photo-grid">
              <li>
        <a href="{{site.baseurl}}/fastflight/" aria-label="Seen the process and making Fastflight app">
                   <figure class="push-0">
                  <img class="img" src="{{site.baseurl}}/images/fastflight.jpg" alt="FastFlight"><figcaption class="gutter pad-top"><h3>FastFlight</h3>—<br >UX/UI<br /></figcaption></a>
        </figure>
                            </li>
        </ul>
        </div>
    </div>