---
layout: default
---
{{content }}


    <div class="grid">
        
    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4">
        <ul class="photo-grid">
	<li>
         <a href="{{site.baseurl}}/kiko" aria-label="Seen the process and making Kiko Web Design ">
              <figure class="push-0">
              <img class="img" src="{{site.baseurl}}/images/kikowebsite.jpg" alt="Kiko Web Design">
                  <figcaption class="gutter pad-top"><h3>Kiko</h3><p>Web Design</p></figcaption></a>
        </figure>
        </li>
        </ul>
        </div>
        
    <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
             <ul class="photo-grid">
	<li>
        <a href="{{site.baseurl}}/myc" aria-label="Seen the process and making of the MYCCentre Posters">
      <figure class="push-0">
          <img class="img" src="{{site.baseurl}}/images/myc-logo.jpg" alt="Book Cover"> <figcaption class="gutter pad-top"><h3>MYC </h3><p>Posters/Print</p></figcaption>
          </a>
        </figure>
        </li>
        </ul>
        </div>
        
   <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
         <ul class="photo-grid">
             <li>
                 <a href="/book/" aria-label="Seen the process and making Book Cover Redesign">
                     <figure class="push-0">
                         <img class="img" src="/images/bookcover.jpg" alt="Book Cover">
                         <figcaption class="gutter pad-top"><h3>Street Pharm</h3><p>Typography/Redesign</p></figcaption>
                         </a>
                     </figure>
             </li>
       </ul>
        </div>

    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
          <ul class="photo-grid">
              <li>
                          <a href="https://vimeo.com/146878585" aria-label="Seen the process and making of the DAStv Broadcast packge">
      <figure class="push-0">
          <img class="img" src="{{site.baseurl}}/images/dastvd.jpg" alt="Book Cover"> <figcaption class="gutter pad-top"><h3>D A S</h3><p>Broadcast Package</p></figcaption>
          </a>
        </figure>
        </li>
        </ul>
        </div>
    </div>