---
layout: pictures1
---
{{content}}

<div class="grid">
    
       <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 unit-xl-1-4">
              <ul class="photo-grid">
	<li>
              <a href="{{site.baseurl}}/project1/" aria-label="Seen the process and making the Izze Ad campaign">  
                  <figure class="push-0">
        <img class="img" src="{{site.baseurl}}/images/izzeposter.jpg" alt="Izze">
                      <figcaption class="gutter pad-top"><h3>Izze</h3>—<br >Branding<br /></figcaption></a>
        </figure>
        </li>
        </ul>
        </div>
    
<div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 unit-xl-1-4">
    <ul class="photo-grid">
	<li>
          <a href="" aria-label="Seen the process and making Kiko Web Design ">
              <figure class="push-0">
              <img class="img" src="{{site.baseurl}}/images/kikowebsite.jpg" alt="Kiko Web Design">
                  <figcaption class="gutter pad-top"><h3>Kiko</h3>—<br >Web Design<br /></figcaption></a>
        </figure>
        </li>
        </ul>
        </div>
    
<div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 unit-xl-1-4">
    <ul class="photo-grid">
	<li>
        <a href="" aria-label="Seen the process and making of Clic Quinoa">
               <figure class="push-0">
              <img class="img" src="{{site.baseurl}}/images/quinoapackage.jpg"  alt="Clic Quinoa"> <figcaption class="gutter pad-top"><h3>Clic Quinoa</h3>—<br >Packaging<br /></figcaption></a>
        </figure>
         </li>
        </ul>
        </div>
    
 <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 unit-xl-1-4">
     <ul class="photo-grid">
	<li>
          <a href="" aria-label="Seen the process and making of Freshly Squeezed">
               <figure class="push-0">
              <img class="img" src="{{site.baseurl}}/images/freshlysqueezed.jpg" alt=" Freshly Squeezed"><figcaption class="gutter pad-top"><h3>Freshly Squeezed</h3>—<br >Branding<br /></figcaption></a>
        </figure>
          </li>
        </ul>
        </div>
</div>
        