---
layout: pictures2
---
{{content}}



    <div class="grid">
        
    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4">
        <ul class="photo-grid">
	<li>
        <a href="{{site.baseurl}}/quinoa" aria-label="Seen the process and making of Clic Quinoa">
               <figure class="push-0">
                   <img class="img" src="{{site.baseurl}}/images/quinoapackage.jpg"  alt="Clic Quinoa"> <figcaption class="gutter pad-top"><h3>Clic Quinoa</h3><p>Packaging</p></figcaption></a>
        </figure>
         </li>
        </ul>
        </div>
              
        
    <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
            <ul class="photo-grid">
             <li>
<a href="{{site.baseurl}}/kanye/" aria-label="Seen the process and making Behind Kanye's Mask article">
      <figure class="push-0">
          <img class="img" src="{{site.baseurl}}/images/11kanye.jpg" alt="Book Cover"> <figcaption class="gutter pad-top"><h3>Kanye's Mask</h3><p>Editorial/Print</p></figcaption>
          </a>
        </figure>
        </li>
        </ul>
        </div>
        
   <div class=" portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
       <ul class="photo-grid">
	<li>
        <a href="{{site.baseurl}}/fs" aria-label="Seen the process and making of Freshly Squeezed">
               <figure class="push-0">
                   <img class="img" src="{{site.baseurl}}/images/mufront.jpg" alt=" Freshly Squeezed"><figcaption class="gutter pad-top"><h3>Freshly Squeezed</h3><p>Branding</p></figcaption></a>
        </figure>
          </li>
        </ul>
        </div>

    <div class="portfolio unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 ">
        <ul class="photo-grid">
	<li>
        <a href="{{site.baseurl}}/water/" aria-label="Seen the process and making of the Water for Water App"> 
            <figure class="push-0">
                <img class="img" src="{{site.baseurl}}/images/wwdisplay.jpg" alt="Melgar 100 Years"><figcaption class="gutter pad-top"><h3>Water for Water</h3><p >UX/UI</p></figcaption>
        </a>
        </figure>
            </li>
        </ul>
        </div>
    </div>